<?xml version="1.0"?>
<!--
/**
 * Mage2developer
 * Copyright (C) 2021 Mage2developer
 *
 * @category Mage2developer
 * @package Mage2_Allinone
 * @copyright Copyright (c) 2021 Mage2developer
 * @author Mage2developer <mage2developer@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mage2_developer" translate="label" sortOrder="10">
            <label>Mage2 Developer</label>
        </tab>
        <section id="allinone_section" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>All in One</label>
            <tab>mage2_developer</tab>
            <resource>Mage2_Allinone::mage2_configuration</resource>
            <group id="featured" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Featured Products</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="count" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInStore="1" showInWebsite="1">
                    <label>Number of products</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Default number of products would be 16]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1"
                       showInWebsite="1">
                    <label>Block Title</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Default Block Title would be "Featured Products"]]></comment>
                </field>
            </group>
            <group id="new" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>New Products</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="count" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInStore="1" showInWebsite="1">
                    <label>Number of products</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Default number of products would be 16]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1"
                       showInWebsite="1">
                    <label>Block Title</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Default Block Title would be "New Products"]]></comment>
                </field>
            </group>
            <group id="mostviewed" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Most Viewable Products</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="count" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInStore="1" showInWebsite="1">
                    <label>Number of products</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Default number of products would be 16]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1"
                       showInWebsite="1">
                    <label>Block Title</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Default Block Title would be "Most Viewable Products"]]></comment>
                </field>
            </group>
            <group id="bestseller" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Bestseller Products</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="count" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInStore="1" showInWebsite="1">
                    <label>Number of products</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Default number of products would be 16]]></comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInStore="1"
                       showInWebsite="1">
                    <label>Block Title</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Default Block Title would be "Bestseller Products"]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
